*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: black;
    width: 100vw;
    height: 100vh;
}
.calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}
.calc-grid button{
    border: 2px solid whitesmoke;
    cursor: pointer;
    background-color: rgb(195, 190, 195);
    font-size: 2em;
}
.calc-grid button:hover{
    background-color: azure;
}
.span-two{
    grid-column: span 2;
}
.input{
    grid-column: 1 / -1;
    color: #ffffff;
}